.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    border-bottom: 1px solid var(--color-light);
    padding: 0 0 2rem 0;
}

.portfolio__container a:hover {
    background: transparent;
    
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: var(--color-primary-variant);
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item-image img {
    height: 220px;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
    text-align: left;
    color: var(--color-white);
    font-size: 1.2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.portfolio__item-cta p {
    border: 1px solid var(--color-primary-variant);
    color: var(--color-white);
    padding: .5rem 1rem;
}

.portfolio__item:hover p {
    border: 1px solid var(--color-white);
}

/*  ====================== MEDIA QUERY (TABLETS) ======================  */
@media  screen and (max-width: 1023px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
} 

/*  ====================== MEDIA QUERY (MOBILE) ======================  */
@media  screen and (max-width: 767px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}